.Cell {
    width: 16.5%;
    height: 16.5%;
    background: deeppink;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight:bold;
}

.Open {
    background: lightpink;
}