.Field {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid blue;
    margin: 50px auto;
}
.Counter {
    margin: 20px auto;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}